@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

@layer base {
  :root {
    --color-primary: #2249c0; //住色
    --color-brand: #ffe600; //品牌色
    --color-success: #37b184; //成功
    --color-error: #ff3e27; //失败
    --color-warning: #ffb413; //警告
    --color-bg-white: #ffffff; //白色背景
    --color-bg-main: #f9fafa; // 主背景色
    --color-bg-input: #f5f7f7; // 输入框背景
    --color-bg-disable: #e5e5e5; //禁用背景
    --color-bg-primary: #2249c0; // 主色，突出元素背景
    --color-bg-hover: #f3f9ff; // 主色，突出元素背景
    --color-bg-active: #e7f3ff; // 主色，突出元素背景
    --color-text-white: #ffffff; // 白色字体
    --color-text-main: #000000; // 主要字体色
    --color-text-primary: #2249c0; //主要标题
    --color-text-secondary: #687c8a; //次要标题
    --color-text-placeholder: #b3bdc5; //placeholder 文本
    --color-icon: #8e9ca8; //icon颜色
    --color-divider: #eceef0; // 边框
    --color-divider-primary: #2249c0; // 边框
  }
}
